/* 650px and above - font size increase */
@media screen and (min-width: 650px) {
    :root {
      font-size: 16px !important;
    }
  }

  /* 575px and below*/
  @media screen and (max-width: 575px) {
    [id=mac] {
        display: none;
        height: 0 !important;
    }
    .background {
        background-image: none !important;
    }

    .fitnessing-background {
        background-image: none !important;
    }

    .fitnessing-web-background {
        background-image: none !important;
    }

    .flashcards-background {
        background-image: none !important;
    }

    .laze-background {
        background-image: none !important;
    }

    .background-mobile {
        background-image: linear-gradient(180deg, #820101 0%, #B00101 50.00%, #820101 100%) !important;
    }

    .fitnessing-background-mobile {
        background-color: #FF786C;
    }

    .fitnessing-web-background-mobile {
        background-color: #260978;
    }

    .flashcards-background-mobile {
        background-color: rgba(137, 218, 213, 0.6);
    }

    .laze-mobile {
        background: #C5A8E7;
    }
  }
  
  /* 768px and below */
  @media screen and (max-width: 768px) {
    :root {
      font-size: 14px !important;
    }

    /* .owl-prev {
        top: 25% !important;
    }

    .owl-next {
        top: 25% !important;
    } */
  }
  
  /* 1050px and below  */
  @media screen and (max-width: 1050px) {
    .desc-background {
        color: black !important;
    }

  }

/* ---------------------- General ---------------------- */
:root {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px; 
    --text-primary: #000;
    --text-secondary: #6E68F5;
}

body {
    font-family: 'Roboto', sans-serif !important; 
}

html {
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    min-height: 400px;
}


/* ---------------------- Project Details ---------------------- */
.detail-background {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100vw;
}

.back {
    position: relative;
    z-index: 100;
    width: 30px;
}

.project-logo {
    width: 70px;
    height: 70px;
}

#mac {
    width: 90%;
    height: 50vh;
}

.discover-button {
    color: var(--text-primary);
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
}

.discover-button:hover {
    text-decoration: none;
    color: var(--text-primary);
}

.screenshot {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.background {
    background-image: url("../images/filmfinder-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.fitnessing-background {
    background-image: url("../images/fitnessing-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.fitnessing-web-background {
    background-image: url("../images/fitnessing-web-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.flashcards-background {
    background-image: url("../images/flashcards-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.laze-background {
    background-image: url("../images/laze-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/* ---------------------- Gallery ---------------------- */
.owl-prev {
    position: absolute;
    z-index: 100;
    top: 35%;
    left: 0;
}

.owl-next {
    position: absolute;
    z-index: 100;
    top: 35%;
    right: 0;
}

.item {
    position: relative;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
}

.modal-item {
    height: 75vh;
}

.iphone {
    position: relative;
    height: 55vh !important;
    z-index: 1;
    left: 5%;
}

.iphone2 {
    position: absolute;
    z-index: 0;
    left: 0;
    height: 50vh;
}

.desc-background {
    border-radius: 25px;
}

.web-desc-background {
    border-radius: 25px;
}

.laze-desc-background {
    border-radius: 25px;
}

.flashcards-desc-background {
    border-radius: 25px;
}

.filmfinder-desc-background {
    border-radius: 25px;
}