@media screen and (min-width: 669px) {
    :root {
      font-size: 16px !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    :root {
      font-size: 14px !important;
    }

    [id=logo] {
        height: 50px;
    }

    [id=mac] {
        visibility: hidden;
    }

    .owl-item.active.center {
        transform: scale(0.8, 0.8) !important;
        z-index: 100;
        transition: 700ms ease;
    }
  }

/* ---------------------- General ---------------------- */
:root {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px; 
    --text-primary: #000;
    --text-secondary: #6E68F5;
}

body {
    font-family: 'Roboto', sans-serif !important; 
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    font-size: 1em !important;
}
#navbar {
    transition: 0.4s;
}

#navbar #logo {
    transition: 0.4s;
}

.section {
    height: 100vh;
    min-height: 400px;
}

.fix-height {
    height: calc(100vh - 80px - 10vh);
}

.height {
    height: 10vh;
}

/* ---------------------- Home Section ---------------------- */
#home-section {
    padding-top: 80px;
}

.large-circle {
    position: absolute;
    top: -10%;
    right: 0;
    height: 95vh;
    width: 50vw;
    overflow: hidden;
}

.small-circle {
    position: absolute;
    bottom: -20vh;
    left: -15%;
    height: 80vh;
    width: 60vw;
    overflow: hidden;
}

.social-media-logo {
    height: 35px;
    color: white;
    display: inline-block;
}

#mac {
    width: 90%;
}

.main-gradient {
    background: linear-gradient(#5436C4, #706DF9);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.intro {
    color: #fff;
    font-size: 4em;
    font-weight: normal;
}

.name {
    color: #fff;
    font-size: 5em;
    line-height: 1.2;
    font-weight: bold;
}

.intro-desc {
    color: #fff;
    font-size: 1.3em;
    font-weight: normal;
}

.discover-button {
    color: var(--text-primary);
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
}

.discover-button:hover {
    text-decoration: none;
    color: var(--text-primary);
}

/* ---------------------- My Projects Section ---------------------- */
.title-1 {
    color: #6E68F5;
    font-weight: 900;
}

.title-2 {
    font-weight: bold;
    font-size: 1.4em;
}

.item {
    width: 100%;
    height: 0;
    border-radius: 50%;
    padding-bottom: 100%;
    text-align: center;
}

.owl-stage-outer {
    overflow-y: visible;
    padding: 50px 0;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: -90px;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: -90px;
}

.owl-dots {
    padding-top: 20px;
}

.owl-item.active {
    transition: 700ms ease;
    opacity: 60%;
}

.owl-item.active.center {
    transform: scale(1.2, 1.2);
    z-index: 100;
    transition: 700ms ease;
    opacity: 100% !important;
}

.tech {
    position: absolute;
    height: 100%;
}

.project-logo {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -30px;
    background-color: blue;
}

/* ---------------------- About Section ---------------------- */
.double-gradient {
    background: linear-gradient(180deg, rgba(239, 223, 255, 0) 0%, #EFDFFF 50%, rgba(239, 223, 255, 0) 100%);
}

/* ---------------------- Skills Section ---------------------- */

/* ---------------------- Contact Section ---------------------- */
.gradient {
    background: linear-gradient(180deg, rgba(239, 223, 255, 0) 0%, #EFDFFF 100%);
}

/* ---------------------- Footer ---------------------- */
.footer {
    background: linear-gradient(#5436C4, #706DF9);
    height: 20vh;
} 

.links {
    color: white;
    text-decoration: none;
}

.links:hover {
    color: white;
    text-decoration: none;
}

.subtitle {
    color: white;
    font-weight: 300;
}

.email {
    color: white;
    font-weight: bold;
}

.email:hover {
    text-decoration: none;
    color: white;
}

.socials {
    height: 30px;
}